:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 430px;
    height: 932px;
    margin: 0 auto;
    background: #a5cdc8;
    overflow: hidden;
}
.img {
    position: relative;
    width: 12.75px;
    height: 25.5px;
    margin: 41.75px 0 0 30.125px;
    background: url(./assets/images/8df32af1-557f-42fa-9ce9-d1266f2c30eb.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
}
.wrapper {
    position: relative;
    width: 430px;
    height: 719px;
    margin: 199.75px 0 0 0;
    font-size: 0px;
    background: #ffffff;
    overflow: visible auto;
    border-radius: 25px;
}
.text {
    display: block;
    position: relative;
    height: 24px;
    margin: 26px 0 0 29px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 1;
}
.text-2 {
    display: block;
    position: relative;
    height: 24px;
    margin: 373px 0 0 37px;
    color: #000000;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 21;
}
.group {
    position: relative;
    width: 373px;
    height: 113px;
    margin: 0 0 0 28px;
    background: #e6e6e6;
    z-index: 20;
    overflow: visible auto;
    border-radius: 28px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-2 {
    position: relative;
    width: 81px;
    height: 81px;
    margin: 29px 0 0 289px;
    background: #ffac60;
    z-index: 23;
    overflow: visible auto;
    border-radius: 28px;
}
.pic {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 18px 0 0 18px;
    background: url(./assets/images/a6a81927-95b3-4a98-8b13-b8b2969f1df2.png)
        no-repeat center;
    background-size: cover;
    z-index: 24;
}
.group-2 {
    position: relative;
    width: 430px;
    height: 83px;
    margin: 22px 0 0 0;
    background: #ffffff;
    z-index: 5;
    overflow: visible auto;
}
.pic-2 {
    position: relative;
    width: 430px;
    height: 2px;
    margin: -1px 0 0 0;
    background: url(./assets/images/b14054fc-8ab4-4506-aa4f-a01637b8ca30.png)
        no-repeat center;
    background-size: cover;
    z-index: 6;
}
.section {
    position: relative;
    width: 377px;
    height: 57px;
    margin: 12px 0 0 37px;
    z-index: 19;
}
.section-2 {
    position: absolute;
    width: 53.05%;
    height: 100%;
    top: 0;
    left: 46.95%;
    background: #ffac60;
    z-index: 8;
    border-radius: 25px;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 92px;
    height: 24px;
    top: 17px;
    left: 19px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 10;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 39px;
    height: 24px;
    top: 17px;
    left: 142px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 11;
}
.img-2 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 6px;
    left: 0;
    background: url(./assets/images/05f75222-23e8-421e-8a0b-245be68f64c2.png)
        no-repeat center;
    background-size: cover;
    z-index: 18;
    border-radius: 50%;
}
.img-3 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 6px;
    left: 95px;
    background: url(./assets/images/2b590905-4b32-40e1-b863-f016fbcc466c.png)
        no-repeat center;
    background-size: cover;
    z-index: 15;
    border-radius: 50%;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 15px;
    height: 24px;
    top: 17px;
    left: 15px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 19;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 14px;
    height: 24px;
    top: 17px;
    left: 63px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 13;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 24px;
    top: 17px;
    left: 107px;
    color: #27292f;
    font-family: LINE Seed Sans TH, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.15px;
    z-index: 16;
}
